html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Georgia, serif;
  background: #e6d3a5;

  display: flex;
  flex-direction: column;
}


/* Header */
header {
  background: #9a7b2f;
  padding: 15px 30px;
}

header h1 {
  margin: 0;
  font-style: italic;
  font-size: 32px;
  color: #f5e7c0;
}

/* Main Layout */
main {
  display: flex;
  flex: 1; /* занимает всё пространство */
}


/* Catalog */
.catalog {
    color:#5a4a2a;
  flex: 3;
  padding: 20px;
}

.catalog h2 {
  font-style: italic;
  font-size: 26px;
  margin-bottom: 20px;
}

/* Book Grid */
.books {
  display: grid;
  grid-template-columns: repeat(2, 600px);
  gap: 40px;
}

.book-card {
  background: #f4d08c;
  padding: 15px;
  width: 500px;
  text-align: left;
}

.book-card img {
  width: 100%;
  height: 260px;
  object-fit: cover;
}

.book-card p {
  margin: 5px 0 0;
  font-style: italic;
}

/* Filter Panel */
.filter {
    color:#5a4a2a;
  flex: 1.3;
  background: #d2ba84;
  padding: 25px;
}

.filter h2 {
  font-style: italic;
  font-size: 24px;
}

.filter label {
  display: block;
  margin-top: 15px;
  font-style: italic;
}

.filter input {
  width: 90%;
  padding: 6px;
  border: none;
  border-radius: 6px;
  margin-top: 5px;
  background: #f8d89e;
}

/* Button */
.filter button {
    border-radius: 6px;
  margin-top: 30px;
  width: 100%;
  padding: 12px;
  font-size: 28px;
  font-style: italic;
  background: #9a7b2f;
  color: #f5e7c0;
  border: none;
  cursor: pointer;
}

.filter button:hover {
    border-radius: 6px;
  background: #7a5f1f;
}

.desc {
  font-size: 13px;
  margin-top: 5px;
  color: #5a4a2a;
}

.book-card span {
  font-size: 13px;
  font-style: italic;
}


/* Footer */
footer {
  background: #6c6556;
  padding: 15px 30px;
  color: white;
  font-style: italic;

  margin-top: auto; /* магия */
}

/* Navigation */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
  padding: 0;
}

nav a {
  text-decoration: none;
  font-style: italic;
  font-size: 18px;
  color: #f5e7c0;
  transition: 0.3s;
}

nav a:hover {
  color: white;
  text-decoration: underline;
}
